body{

  background-image: url("http://previews.123rf.com/images/notkoo2008/notkoo20081506/notkoo2008150607853/41378133-Fried-foods-theme-hot-dog-cartoon-seamless-pattern-background-Stock-Vector.jpg");
  background-size: cover;
  font-family: 'BioRhyme', serif;
}
h1{
  text-align: center;
  color: white;
  /*color: rgba(0, 0, 0, 0.5);*/
  font-weight: bold;
}
h3{
  text-align: center;
  color: white;
  font-weight: bold;
}
img{
  margin: auto;
  display: block;
  max-width: 350px;
  max-height: 350px;
}
section{
  border: 4px solid black;
  border-radius: 20px;
  margin-bottom: 60px;
  background: rgba(120, 120, 0, 0.9);
  width: 70%;
  margin: 10px auto;
}
h2{
  color: white;
  padding: 10px;
}
p{
  color: black;
  padding: 10px;
  font-weight: bold;
}
li{
  color: black;
  font-weight: bold;
}
/*
Test for id's in a section
#profile{
  border: 4px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  background: rgba(120, 120, 0, 0.9);
}
#done{
  border: 4px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  background: rgba(120, 120, 0, 0.9);
}*/
